.sessiontime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 0 2rem 2rem 2rem;
    border-radius: 2rem;
    background-color: greenyellow;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
