.App-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-time-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}