html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(94, 155, 255);
}